#include <windows.h>

1 VERSIONINFO
    FILEVERSION    0,0,0,0
    FILETYPE VFT_APP
    PRODUCTVERSION 0,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", ""
            VALUE "CompanyName", "jitsi.org"
            VALUE "FileDescription", "Outlook COM server"
            VALUE "FileVersion", "0"
            VALUE "InternalName", "jmsoutlookaddrbookcomserver64.exe"
            VALUE "OriginalFilename", "jmsoutlookaddrbookcomserver64.exe"
            VALUE "ProductName", "Jitsi"
            VALUE "ProductVersion", "0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
