<?xml version="1.0" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product
    Id="@WIX_PRODUCT_ID@"
    Language="1033"
    Manufacturer="@APP_NAME@"
    Name="@APP_NAME@"
    UpgradeCode="@WIX_UPGRADE_CODE@"
    Version="0.0.0.0">

<Package
    Comments="@PKG_COMMENTS@"
    Compressed="yes"
    Description="@PKG_DESCRIPTION@"
    InstallPrivileges="elevated"
    InstallScope="perMachine"
    InstallerVersion="200"
    Languages="1033"
    Manufacturer="@APP_NAME@"
    SummaryCodepage="1252" />

<Directory Id="TARGETDIR" Name="SourceDir">
  <Directory Id="ProgramFilesFolder" Name="PFiles">
    <Directory Id="INSTALLDIR" Name="@APP_NAME@">
      <?include component-defines.wxi ?>
    </Directory>
  </Directory>

  <Directory Id="DesktopFolder" Name="Desktop">
    <Component Id="Component_DesktopShortcut" Guid="49BF78B5-155F-43F2-BCEC-3CABC0D9531E">
      <Shortcut
          Id="Shortcut_Desktop"
          Icon="Icon.ico"
          Name="@APP_NAME@"
          Target="[INSTALLDIR]run.exe"
          WorkingDirectory="INSTALLDIR" />
      <RegistryValue
          Key="Software\Microsoft\@APP_NAME@"
          KeyPath="yes"
          Name="DesktopShortcut"
          Root="HKCU"
          Type="integer"
          Value="1" />
    </Component>
  </Directory>
  <Directory Id="ProgramMenuFolder" Name="Programs">
    <Component Id="Component_StartMenuShortcut" Guid="6B8CDA4E-16C9-4AF4-B338-CBA4775ADD0D">
      <Shortcut
          Id="Shortcut_StartMenu"
          Icon="Icon.ico"
          Name="@APP_NAME@"
          Target="[INSTALLDIR]run.exe"
          WorkingDirectory="INSTALLDIR" />
      <RegistryValue
          Key="Software\Microsoft\@APP_NAME@"
          KeyPath="yes"
          Name="StartMenuShortcut"
          Root="HKCU"
          Type="integer"
          Value="1" />
    </Component>
  </Directory>

  <Component Id="Component_SipRegistryEntries" Guid="CF88EDC2-7D07-4269-946C-B8FF917887ED">
    <RegistryKey Action="createAndRemoveOnUninstall" Key="sip" Root="HKCR">
      <RegistryValue Type="string" Value="URL: SIP Protocol handler" />
      <RegistryValue Name="URL Protocol" Type="string" Value="" />
      <RegistryValue
          Key="DefaultIcon" Type="string" Value="[INSTALLDIR]sc-logo.ico" />
      <RegistryValue
          Key="shell\open\command"
          KeyPath="yes"
          Type="string"
          Value='"[INSTALLDIR]run.exe" %1' />
    </RegistryKey>
  </Component>
  <Component Id="Component_FeedRegistryEntries" Guid="BDB06CF9-F840-4CD6-B8B1-C24AC9CD11AB">
    <RegistryKey Action="createAndRemoveOnUninstall" Key="feed" Root="HKCR">
      <RegistryValue Type="string" Value="URL: RSS Protocol handler" />
      <RegistryValue Name="URL Protocol" Type="string" Value="" />
      <RegistryValue
          Key="DefaultIcon" Type="string" Value="[INSTALLDIR]sc-logo.ico" />
      <RegistryValue
          Key="shell\open\command"
          KeyPath="yes"
          Type="string"
          Value='"[INSTALLDIR]run.exe" %1' />
    </RegistryKey>
  </Component>
</Directory>

<Feature Id="Universe" Level="1" Title="@APP_NAME@">
  <?include component-refs.wxi ?>

  <ComponentRef Id="Component_DesktopShortcut" />
  <ComponentRef Id="Component_StartMenuShortcut" />

  <ComponentRef Id="Component_SipRegistryEntries" />
  <ComponentRef Id="Component_FeedRegistryEntries" />
</Feature>

<Media Id="1" Cabinet="Data1.cab" EmbedCab="yes" />

<UI>
  <UIRef Id="WixUI_CInstallDir" />

  <TextStyle Id="GreyText" Blue="127" FaceName="Tahoma" Green="127" Red="127" Size="8" />

            <Dialog Id="CWelcomeDlg" Width="370" Height="270" Title="!(loc.WelcomeDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.WelcomeDlgBitmap)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="WelcomeText1" Type="Text" X="135" Y="155" Width="220" Height="40" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeText1)" />
                <Control Id="WelcomeText2" Type="Text" X="135" Y="190" Width="220" Height="30" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeText2)" />
                <Control Id="WelcomeText3" Type="Text" X="135" Y="220" Width="220" Height="14" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeText3)" />
                <Control Id="Description" Type="Text" X="135" Y="80" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgDescription)" />
                <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgTitle)" />
            </Dialog>

  <Publish 
      Control="Finish"
      Dialog="ExitDialog"
      Event="DoAction"
      Value="LaunchApplication">
    <![CDATA[WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND JRE_VERSION >= "1.5" AND NOT Installed]]>
  </Publish>
  <Publish
      Control="Finish"
      Dialog="ExitDialog"
      Event="DoAction"
      Value="InstallJRE">
    <![CDATA[WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND JRE_VERSION < "1.5" AND NOT Installed]]>
  </Publish>

  <InstallUISequence>
    <Show Dialog="CWelcomeDlg" Before="ProgressDlg">NOT Installed</Show>

    <Custom Action="SetWIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" After="AppSearch">
      <![CDATA[JRE_VERSION < "1.5" AND NOT Installed]]>
    </Custom>
  </InstallUISequence>
</UI>

<CustomAction
    Id="InstallJRE"
    BinaryKey="JRESetup"
    ExeCommand=""
    Return="asyncNoWait" />
<CustomAction
    Id="LaunchApplication"
    BinaryKey="WixCA"
    DllEntry="WixShellExec"
    Impersonate="yes" />
<CustomAction
    Id="SetWIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT"
    Property="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT"
    Value="Install Java(TM) SE Runtime Environment" />

<InstallExecuteSequence>
  <Custom Action="SetWIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" After="AppSearch">
    <![CDATA[JRE_VERSION < "1.5" AND NOT Installed]]>
  </Custom>
</InstallExecuteSequence>

<Property Id="JRE_VERSION">
  <RegistrySearch
      Id="RegistrySearch_JREVersion"
      Key="Software\JavaSoft\Java Runtime Environment"
      Name="CurrentVersion"
      Root="HKLM"
      Type="raw" />
</Property>

<Property Id="ARPCONTACT" Value="@APP_EMAIL@" />
<Property Id="ARPHELPLINK" Value="@APP_WEB@" />
<Property Id="ARPPRODUCTICON" Value="Icon.ico" />
<Property Id="WixShellExecTarget" Value="[#run.exe]" />
<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch @APP_NAME@" />
<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

<WixVariable Id="WixUIBannerBmp" Value="wix-banner.jpg" />
<WixVariable Id="WixUIDialogBmp" Value="wix-dialog.jpg" />
<WixVariable Id='WixUILicenseRtf' Value="License.rtf" />

<Icon Id="Icon.ico" SourceFile="sc-logo.ico" />

<Binary Id="JRESetup" SourceFile="@WINDOWS_JRE_FILE@" />

</Product>

    <!-- Modified WixUI_InstallDir -->
    <Fragment>
        <UI Id="WixUI_CInstallDir">
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <Property Id="WixUI_Mode" Value="InstallDir" />

            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="DiskCostDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            
            <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
            <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

            <Publish Dialog="CWelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>

            <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="CWelcomeDlg">1</Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = "1"</Publish>

            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID="1"]]></Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
            
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>

            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

            <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

            <Property Id="ARPNOMODIFY" Value="1" />
        </UI>

        <UIRef Id="WixUI_Common" />
    </Fragment>

</Wix>
