<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>sip URI</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>sip</string>
          <string>tel</string>
          <string>callto</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>xmpp URI</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>xmpp</string>
        </array>
      </dict>
    </array>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>10.12.0</string>
    <key>SUCheckAtStartup</key>
    <string>YES</string>
    <key>SUScheduledCheckInterval</key>
    <string>86400</string>
    <key>SUPublicDSAKeyFile</key>
    <string>sparkle_dsa_pub.pem</string>
    <key>SUFeedURL</key>
    <string>https://download.jitsi.org/jitsi/macosx/sparkle/updates.xml</string>
    <key>SUShowReleaseNotes</key>
    <string>YES</string>
    <key>CFBundleName</key>
    <string>Jitsi</string>
    <key>CFBundleShortVersionString</key>
    <string>@CFBundleShortVersionString@</string>
    <key>CFBundleGetInfoString</key>
    <string>Jitsi</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>Jitsi</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>sipc</string>
    <key>CFBundleVersion</key>
    <string>@CFBundleVersion@</string>
    <key>CFBundleIconFile</key>
    <string>sc_logo_128x128.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.jitsi</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Jitsi requires access to the microphone for calls.</string>
    <key>NSCameraUsageDescription</key>
    <string>Jitsi requires access to the camera for video calls.</string>
    <key>Javax</key>
    <dict>
      <key>MainClass</key>
      <string>net.java.sip.communicator.launcher.Jitsi</string>
      <key>JVMVersion</key>
      <string>11+</string>
      <key>ClassPath</key>
      <array>
        @CLASSPATH_STRINGS@
      </array>
      <key>JVMRuntime</key>
      <string>@JRE_VERSION@</string>
      <key>VMOptions</key>
      <string>-splash:splash.gif</string>
      <key>WorkingDirectory</key>
      <string>$APP_PACKAGE/Contents/Resources/Java</string>
      <key>Properties</key>
      <dict>
        <key>logback.configurationFile</key>
        <string>config/logback.xml</string>
        <key>java.library.path</key>
        <string>$JAVAROOT/native:/Users/Shared/Library/Application Support/Jitsi/native</string>
        <key>jna.library.path</key>
        <string>$JAVAROOT/native:/Users/Shared/Library/Application Support/Jitsi/native</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
      </dict>
    </dict>
  </dict>
</plist>
