_PACKAGE_NAME_ (_VERSION_) unstable; urgency=low

  * Updates upstream.
  * Adjust build-time deps for easier backporting. (Closes: #729904)
  * Reuses already installed on the system spellcheck
    ditionaries. (Closes: #719201)
  * Fixes processing incoming xmpp ping error packets and showing
    many stack traces in console. (Closes: #785299)
  * Removes java6-runtime alternative. (Closes: #735904)

 -- Damian Minkov <damencho@jitsi.org>  _DATE_

jitsi (2.5.5313-1) unstable; urgency=low

  * Updates upstream.
  * Now depends libjitsi package.
  * Fixes BundleException: Unresolved constraint in bundle
    propertieseditor. (Closes: #736773)
  * Fixes commons lang missing felix manifests. (Closes: #736773)
  * Removes gdata dependency. Set encoding for javadoc to fix errors with
    Java 7 (part of the patch in libjitsi as jsip has moved
    there). (Closes: #759835, #748503)
  * New version will be updated with bound to libavfilter5. (Closes: #760853)
  * Fixes dependencies to build with jdk8. (Closes: #745090)

 -- Damian Minkov <damencho@jitsi.org>  Mon, 6 Oct 2014 17:40:14 +0200

jitsi (2.4.4997-1.2) unstable; urgency=medium

  * Non-maintainer upload.
  * Upload to unstable.
  * debian/patches/json.patch: Update paths to json-simple.jar since
    libjson-simple-java 1.1.1-2 dropped the compatibility symlink. (Closes:
    #747789)
  * debian/control: Bump (Build-)Depends on libjson-simple-java to >= 1.1.1.
    The name got changed to json-simple.jar starting with 1.1.1.

 -- Sebastian Ramacher <sramacher@debian.org>  Tue, 20 May 2014 22:02:47 +0200

jitsi (2.4.4997-1.1) experimental; urgency=low

  * Non-maintainer upload.
  * Add patch from Anton Khirnov and compile against libav10 (Closes: #739432)

 -- Reinhard Tartler <siretart@tauware.de>  Mon, 31 Mar 2014 21:41:07 -0400

jitsi (2.4.4997-1) unstable; urgency=low

  * Updates upstream.
  * Fixes printing version. (Closes: #733889)

 -- Damian Minkov <damencho@jitsi.org>  Wed, 8 Jan 2014 08:02:34 -0500

jitsi (2.3.4909-1) unstable; urgency=low

  * Builds against libav9. (Closes: #719517)
  * Fixed crashes when opening video/options. (Closes: #719278)
  * Removed dependency to libgoogle-collections-java. (Closes: #727701)
  * Fixed registering account on first run. (Closes: #719999)
  * Adds some missing links while building for lib libbcpkix. (Closes: #726652)
  * Updates upstream and also libs dependencies. (Closes: #729254)

 -- Damian Minkov <damencho@jitsi.org>  Fri, 15 Nov 2013 09:56:31 -0500

jitsi (2.3.4687.9786-1) unstable; urgency=low

  * Removes use of maven build for bccontrib package.

 -- Damian Minkov <damencho@jitsi.org>  Mon, 17 Jun 2013 12:48:19 +0300

jitsi (2.3.4678.9772-1) unstable; urgency=low

  * Removes embedded bouncycastle package.
  * Patches joscar to use the latest version 1.48 of bcprov.
  * Adds autotools-dev dependincy to deal with some warnings
    for old build files.
  * Fixes building twice.

 -- Damian Minkov <damencho@jitsi.org>  Wed, 12 Jun 2013 11:02:34 +0300

jitsi (2.1.4541.10678-1) unstable; urgency=low

  * Fixes missing dbus headers when building i386 package.

 -- Damian Minkov <damencho@jitsi.org>  Mon, 1 Apr 2013 12:12:17 +0300

jitsi (2.1.4534.10649-1) unstable; urgency=low

  * Removes jdic dependency.

 -- Damian Minkov <damencho@jitsi.org>  Tue, 26 Mar 2013 15:07:14 +0200

jitsi (2.0.4506.10553-1) unstable; urgency=low

  * Renames package jitsi-jni to libjitsi-jni.
  * Removes jar-not-in-usr-share overrides, not needed anymore.
  * Moves files from /usr/lib to /usr/share
  * Rename README.libraries to README.embedded-libraries.
  * Removes embedded dnsjava package and add dependency to libdnsjava-java.
  * Removes duplicate entry in copyright.

 -- Damian Minkov <damencho@jitsi.org>  Mon, 18 Mar 2013 16:34:08 +0200

_PACKAGE_NAME_ (1.1.4407.10289-1) unstable; urgency=low

  * Adds README.libraries describing the libraries embedded.
  * Adds Homepage entry and fixes descriptions.
  * Updates desktop shortcut, removes obsolete fields.
  * Adds debian/watch for new source packages.
  * Removes ffmpeg library and add dependency to libav.

 -- Damian Minkov <damencho@jitsi.org>  Thu, 17 Jan 2013 16:03:58 +0200

_PACKAGE_NAME_ (1.1.4365-1) unstable; urgency=low

  * Initial release. (Closes: #627362)

 -- Damian Minkov <damencho@jitsi.org>  Tue, 18 Dec 2012 11:47:40 +0200
