_PACKAGE_NAME_ (_VERSION_) unstable; urgency=low

_CHANGES_

 -- Martin Andre <mandre@dev.java.net>  _DATE_

sip-communicator (1.0-alpha3-1) unstable; urgency=low

  * Switching to alpha3 nightly builds
  * Updated dependancies to put sun-jre as a first alternative where needed
  * Updated application categories in sip-communicator.desktop file
  * Put SC bundles and libraries in /usr/lib instead of /usr/share
  * Added a verbose and help option to launch script and updated man page
    accordingly
  * Remove subversion info files from native lib dir

 -- Martin Andre <mandre@dev.java.net>  Tue, 11 Dec 2007 15:27:06 +0900

sip-communicator (1.0-alpha2-1) unstable; urgency=low

  * Switching to alpha2 nightly	builds

 -- Martin Andre <mandre@dev.java.net>  Fri, 22 Dec 2006 14:52:00 +0900

sip-communicator (1.0-alpha1-3) unstable; urgency=low

  * OSGI implementation changed from Oscar to Felix:
    - Bundle are now deployed by reference in ~/.felix/sip-communicator.bin
    - Updated libs accordingly
  * Dependancy added on alsa-oss so JMF can now use Alsa
  * Removed Junit in Recommand section, because it is not relevant for the
    user

 -- Martin Andre <mandre@dev.java.net>  Fri, 24 Nov 2006 14:52:00 +0900

sip-communicator (1.0-alpha1-2) unstable; urgency=low

  * Changed oscar behavior to deploy its bundles in
    ~/.noscar/sip-communicator.bin
  * Removed remaining files not useful here, ie only for testing: junit.jar,
    oscar.unit.test.properties and testing.properties

 -- Martin Andre <mandre@dev.java.net>  Thu, 12 Oct 2006 12:20:36 +0900

sip-communicator (1.0-alpha1-1) unstable; urgency=low

  * Initial release
  * Created a basic man page
  * Created an excutable shell script to launch SIP Communicator
  * Removed all slicks libs already inclueded in Debian

 -- Martin Andre <mandre@dev.java.net>  Mon, 25 Sep 2006 11:51:01 +0900

