Source: _PACKAGE_NAME_
Section: net
Priority: optional
Maintainer: Martin Andre <mandre@dev.java.net>
Build-Depends: debhelper (>= 5), ant, ant-optional
Standards-Version: 3.7.2

Package: _PACKAGE_NAME_
Architecture: i386 amd64
Depends: sun-java6-jre | openjdk-6-jre, libxalan2-java, alsa-oss
Description: the Java VoIP and Instant Messaging client
 SIP Communicator is an application that allows you to do audio/video
 conversations over the Internet through the SIP protocol, as well as chat with
 your friends using some of the most popular instant messaging protocols such as
 SIP/SIMPLE, Jabber, AIM/ICQ, MSN, Yahoo, IRC and others.
