usr/bin
usr/share/applications
usr/share/doc/_PACKAGE_NAME_
usr/share/man/man1
usr/share/menu
usr/share/pixmaps
usr/share/_PACKAGE_NAME_
usr/share/_PACKAGE_NAME_/lib
usr/share/_PACKAGE_NAME_/lib/native
usr/share/_PACKAGE_NAME_/lib/bundle
usr/share/_PACKAGE_NAME_/sc-bundles
