[Desktop Entry]
Name=_APP_NAME_
GenericName=_APP_NAME_
Comment=VoIP and Instant Messaging client
Keywords=chat;messaging;im;voip;video;call;conference;
Icon=_PACKAGE_NAME_
Type=Application
Categories=Network;InstantMessaging;Chat;Telephony;VideoConference;Java;
Exec=_PACKAGE_NAME_ %u
Terminal=false
MimeType=x-scheme-handler/sip;x-scheme-handler/xmpp;
