?package(_PACKAGE_NAME_):needs="x11"                   \
  section="Applications/Network/Communication"           \
  title="_APP_NAME_"                               \
  longtitle="_APP_NAME_, VoIP and IM client"       \
  command="/usr/bin/_PACKAGE_NAME_"                    \
  icon="/usr/share/pixmaps/_PACKAGE_NAME_-32.xpm"      \
  icon32x32="/usr/share/pixmaps/_PACKAGE_NAME_-32.xpm" \
  icon16x16="/usr/share/pixmaps/_PACKAGE_NAME_-16.xpm"
