.\"                                      Hey, EMACS: -*- nroff -*-
.\" First parameter, NAME, should be all caps
.\" Second parameter, SECTION, should be 1-8, maybe w/ subsection
.\" other parameters are allowed: see man(7), man(1)
.TH _PACKAGE_NAME_ 1 "October 10, 2008"
.\" Please adjust this date whenever revising the manpage.
.\"
.\" Some roff macros, for reference:
.\" .nh        disable hyphenation
.\" .hy        enable hyphenation
.\" .ad l      left justify
.\" .ad b      justify to both left and right margins
.\" .nf        disable filling
.\" .fi        enable filling
.\" .br        insert line break
.\" .sp <n>    insert n+1 empty lines
.\" for manpage-specific macros, see man(7)
.SH NAME
_PACKAGE_NAME_ \- the Java VoIP and Instant Messaging client
.SH SYNOPSIS
.B _PACKAGE_NAME_
.RI [ options ] " " [ uri-to-call ]
.SH DESCRIPTION
.\" TeX users may be more comfortable with the \fB<whatever>\fP and
.\" \fI<whatever>\fP escape sequences to invode bold face and italics, 
.\" respectively.
\fB_APP_NAME_\fP is an audio/video Internet phone and instant messenger
that supports some of the most popular instant messaging and telephony
protocols such as SIP, Jabber, AIM/ICQ, Yahoo! Messenger, Bonjour, IRC
and soon others like IAX.
.PP
.RI "An optional " uri-to-call " expression can be specified to start a call from the command-line. If _APP_NAME_ is already running then the call is handled by the running application, except when it is explicitly told to allow multiple instance launch."
.SH OPTIONS
.TP
.BI "\-c, \-\-config=" DIR
Use
.I DIR
for configuration files.
.TP
.B \-d, \-\-debug
Print debugging messages to stdout.
.TP
.B \-h, \-\-help
Print a help message containing usage instructions and descriptions of all options currently supported.
.TP
.B \-m, \-\-multiple
Allow multiple instance launch.
.TP
.B \-6, \-\-ipv6
Force use of IPv6 addresses where possible.
.TP
.B \-4, \-\-ipv4
Force non-support for IPv6 and use of IPv4 only.
.TP
.B \-v, \-\-version
Display the current version and exit.
.TP
.SH FILES
.TP
.I ~/._PACKAGE_NAME_/contactlist.xml
.RS
The IM contact-list.
.RE
.TP
.I ~/._PACKAGE_NAME_/sip-communicator.xml
.RS
The main configuration file.
.SH AUTHOR
_APP_NAME_ was written by Emil Ivov <emcho@jitsi.org>.
.PP
This manual page was written by Martin Andre <mandre@dev.java.net>, for the
Debian project (but may be used by others).
