debian/_PACKAGE_NAME_-32.xpm usr/share/pixmaps
debian/_PACKAGE_NAME_-16.xpm usr/share/pixmaps
debian/_PACKAGE_NAME_.svg usr/share/pixmaps
debian/_PACKAGE_NAME_.desktop usr/share/applications
resources/install/logging.properties usr/share/_PACKAGE_NAME_/lib
lib/felix.client.run.properties usr/share/_PACKAGE_NAME_/lib
lib/jitsi-defaults.properties  usr/share/_PACKAGE_NAME_/lib
sc-bundles/*.jar usr/share/_PACKAGE_NAME_/sc-bundles
debian/sh/_PACKAGE_NAME_ usr/bin
