_PACKAGE_NAME_ for Debian
---------------------------

The _APP_NAME_ is currently under active development. The version you are
running is beta. Please refer to the _APP_NAME_'s website at _APP_WEB_ for
more information.

 -- Martin Andre <mandre@dev.java.net>, Mon, 25 Sep 2006 11:51:01 +0900
