#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Build
export ANT=ant

export BASEDIR=../..

export PACKAGE_NAME=_PACKAGE_NAME_

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	#-$(ANT) -file $(BASEDIR)/build.xml rebuild

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	#-$(ANT) -file $(BASEDIR)/build.xml clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/sip-communicator.
	cp debian/$(PACKAGE_NAME)-32.xpm debian/$(PACKAGE_NAME)/usr/share/pixmaps/
	cp debian/$(PACKAGE_NAME)-16.xpm debian/$(PACKAGE_NAME)/usr/share/pixmaps/
	cp debian/$(PACKAGE_NAME).svg debian/$(PACKAGE_NAME)/usr/share/pixmaps/
	cp debian/$(PACKAGE_NAME).desktop debian/$(PACKAGE_NAME)/usr/share/applications/

	# Copy all libs 
	cp $(BASEDIR)/lib/*.jar debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/lib/
	cp $(BASEDIR)/resources/install/logging.properties debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/lib/
	cp debian/felix.client.run.properties debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/lib/
	cp -r $(BASEDIR)/lib/bundle debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/lib/
	cp debian/update-location.properties debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/

	# Copy OS specific and native libs
	cp $(BASEDIR)/lib/os-specific/linux/*.jar debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/lib/
ifeq ($(DEB_HOST_ARCH),amd64)
	cp -r $(BASEDIR)/lib/native/linux-64 debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/lib/native
else
	cp -r $(BASEDIR)/lib/native/linux debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/lib/native
endif

	# Copy SIP Communicator bundles
	cp $(BASEDIR)/sc-bundles/*.jar debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/sc-bundles
	cp $(BASEDIR)/sc-bundles/os-specific/linux/*.jar debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/sc-bundles
	install -m 755 debian/$(PACKAGE_NAME).sh debian/$(PACKAGE_NAME)/usr/bin/$(PACKAGE_NAME)

	# Remove all slicks, SVN info and unnecessary librairies.
	rm debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/sc-bundles/slickless.jar
	rm debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/sc-bundles/slick-runner.jar
	rm debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/sc-bundles/*-slick.jar
	rm -rf debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/lib/native/.svn
	rm -rf debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/lib/bundle/.svn
	rm debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/lib/bundle/junit.jar

	# Make felix deploy its bundles in ~/.felix/sip-communicator.bin
	sed -i -e "s/org.osgi.framework.storage=sip-communicator.bin/felix.cache.profile=sip-communicator.bin/" debian/$(PACKAGE_NAME)/usr/lib/$(PACKAGE_NAME)/lib/felix.client.run.properties


# Build i386 files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman debian/sip-communicator.1
	dh_link
	dh_compress
	dh_fixperms
	dh_strip -Xjdic_misc
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
.PHONY: build clean binary-arch binary install configure
