[Desktop Entry]
Encoding=UTF-8
Name=SIP Communicator
GenericName=SIP Communicator
Comment=VoIP and Instant Messaging client
Icon=/usr/share/pixmaps/sip-communicator.xpm
Type=Application
Categories=Application;Network;
Exec=sip-communicator
Terminal=false
