<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>URLHandler</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.myCocoaApp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>APP_NAME</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>sipu</string>
	<key>CFBundleIconFile</key>
	<string>sc_logo_128x128.icns</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sip</string>
				<string>feed</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.2</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
