# This file contains the recommended set of properties to initialize
# the sip-communicator environment when running any of the automated
# testing targets.

# you should copy this template to a new file called ./lib/testing.properties
# and then you can safely make changes to this personal copy. The build.xml
# testing targets expect you to provide this personal file.

# list all the tests that should be run by the test target of the project.
# n.b. if you do not want to run them all for some reason, be careful
#      how you mark your continuations and comments!
#
net.java.sip.communicator.slick.runner.TEST_LIST=ConfigurationServiceLick \
 MetaContactListServiceLick \
 NetworkAddressManagerServiceLick \
 FileAccessServiceLick \
 HistoryServiceLick \
 SlicklessTests \
 MsgHistoryServiceLick \
 CallHistoryServiceLick \
 JabberProtocolProviderSlick \
 YahooProtocolProviderSlick \
 MsnProtocolProviderSlick \
 GibberishProtocolProviderServiceLick \
 RssProtocolProviderServiceLick

# MediaServiceLick \
# SipProtocolProviderServiceLick \


# Set a different name for the meta contact list file that will be used
# during testing so the "live" client file does not get changed.
#
net.java.sip.communicator.CONTACTLIST_FILE_NAME=testing.contactlist.xml

# Set a different name of the configuration file that will be used
# during testing so the "live" client file does not get changed.
#
net.java.sip.communicator.CONFIGURATION_FILE_NAME=testing.sip-communicator.xml
