usr/share/java/commons-codec.jar usr/share/_PACKAGE_NAME_/sc-bundles/commons-codec.jar
usr/share/java/log4j-1.2.jar usr/share/_PACKAGE_NAME_/lib/bundle/log4j.jar
usr/share/java/commons-logging.jar usr/share/_PACKAGE_NAME_/lib/bundle/commons-logging.jar
usr/share/java/httpcore.jar usr/share/_PACKAGE_NAME_/sc-bundles/httpcore.jar
usr/share/java/httpclient.jar usr/share/_PACKAGE_NAME_/sc-bundles/httpclient.jar
usr/share/java/guava.jar usr/share/_PACKAGE_NAME_/sc-bundles/guava.jar
