h1
{
background-color:#c6d0e1;
margin:0px;
text-align:center;
font-weight:bold;
font-size:12
}

h2
{
margin:0px;
font-family:Verdana;
font-size:12;
color:#ef7b1e
}

h3
{
margin:0px;
font-family:Verdana;
font-size:12;
color:#2e538b
}

h4
{
margin:0px;
font-family:Verdana;
font-size:12;
font-weight:bold;
color:#B615A6
}

div
{
font-family:Verdana;
font-size:12;
color:#000000
}

b
{
background-color:#FFF4AB
}